* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;

}

body {
    height: 2000px;
    background-color: black;
}

div {
    background-color: whitesmoke;
    padding: 15%;
    padding-bottom: 50%;
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
}

button {
    font-family: cursive;
    padding: 0.75em;
    margin-top: 30px;
}

#extra {
    margin-top: 300px;
    font-style: italic;
    color: #e0dc69;
}